# See https://github.com/dcycle/docker-phpstan-drupal/blob/master/README.md#custom-config-file
parameters:
  excludePaths:
    - */tests/*
    - */test/*
    - */phpunit-bootstrap.php
includes:
  - /var/www/html/phpstan.neon
